html {
  background: #aaa;
}

.wrap {
  height: 100px;
  width: 100px;
  margin: 4rem;
  margin-right: calc(100px + 4rem);
  display: inline-block;
  border: 1px solid red;
  position: relative;
}
.item-mask {
  position: absolute;
  left: 0;
  top: 0;
}

.item-wrap {
  transform-origin: 0 0;
}

.item {
  height: 100px;
  width: 100px;
  background: #7777ff;
}

.sample-book.wrap,
.sample-book3.wrap,
.sample-book5.wrap {
  height: 400px;
  width: 300px;
  margin-right: calc(300px + 4rem);
  margin-top: 150px;
  margin-bottom: 150px;
}
.sample-book .item,
.sample-book3 .item,
.sample-book5 .item{
  height: 400px;
  width: 300px;
}


.sample-book2.wrap,
.sample-book4.wrap,
.sample-book6.wrap {
  height: 400px;
  width: 300px;
  margin-left: calc(300px + 4rem);
  margin-top: 150px;
  margin-bottom: 150px;
}
.sample-book2 .item,
.sample-book4 .item,
.sample-book6 .item {
  height: 400px;
  width: 300px;
}

.layer-shadow .item {
  background: transparent !important;
}
.layer-shadow {
  filter: blur(2px);
}

.colorStrip {
  width: 100px;
  height: 100px;
  background: red;
}

.layer-effect .item {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.3) 30%, rgba(0, 0, 0, 0))
}